{% extends "base.twig" %}
{% block title %}Importing your inventory{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<div id="message-text" style="padding: 1em 0.5em">
    Unable to import inventory data because you are using an outdated plugin version.
    Please <b><a href="https://greasyfork.org/en/scripts/441382-markethunt-plugin-for-mousehunt">update the Markethunt plugin</a></b> and try again.
</div>
{% endblock %}