{% extends "base.twig" %}
{% block meta_description %}How to import Mousehunt inventory into Markethunt app{% endblock %}
{% block title %}Guide: Importing inventory{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<div>
    <a href="https://greasyfork.org/en/scripts/441382-mousehunt-markethunt-inventory-export">
        https://greasyfork.org/en/scripts/441382-mousehunt-markethunt-inventory-export
    </a>
</div>
<div><p>TODO Write inventory import guide</p></div>
{% endblock %}