{% extends "base.twig" %}
{% block meta_description %}Discord OTC prices{% endblock %}
{% block title %}Discord OTC prices{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div style="width: 800px; margin: auto">
        <p style="text-align: center">
            Want to add something to the tracker? Use <a href="https://forms.gle/1xVckig3XbTpoPJE9">this suggestion form</a>.
        </p>
        <div id="otc-app"></div>
        <p>

        </p>
    </div>
    <script type="text/javascript" src="assets/js/build/otc_app.js"></script>
{% endblock %}